           
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);




p.clasificacion {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

p.clasificacion input {
    position: absolute;
    top: -100px;
}

p.clasificacion label {
    float: right;
    color: #333;
}

p.clasificacion label:hover,
p.clasificacion label:hover ~ label,
p.clasificacion input:checked ~ label {
    color: #dd4;

}
p.clasificacion2 input {
    position: absolute;
    top: -100px;
}
p.clasificacion2 input[type="radio"]:checked+label{
    color:green;
} 

p.clasificacion3 input {
    position: absolute;
    top: -100px;
}
p.clasificacion3 input[type="radio"]:checked+label{
    color:green;
} 

:root {
    --color-inactivo:#5f5050;
    --color-hover:#ffa400;
}
.valoracion {
    display: flex;
    flex-direction: row-reverse;
}
.valoracion button {
    background-color: initial;
    border: 0;
    color: var(--color-inactivo);
    transition: 1s all;
}
.valoracion button:hover {
    cursor: pointer;
    color: var(--color-hover);
    transform: rotate(360deg);
}
